<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969613404131-q1jadtfkh079ile4ap7811s897mtelr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969613404131-q1jadtfkh079ile4ap7811s897mtelr9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969613404131-4li446u5ajmrned27mmi1n2att388n0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB62iihaDd5us35UwkTCe2cXZlIsCeTXgo</string>
	<key>GCM_SENDER_ID</key>
	<string>969613404131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agroscan.ia</string>
	<key>PROJECT_ID</key>
	<string>openclaw-bot-494215</string>
	<key>STORAGE_BUCKET</key>
	<string>openclaw-bot-494215.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969613404131:ios:3937a5e6b79110007962d6</string>
	<key>DATABASE_URL</key>
	<string>https://openclaw-bot-494215-default-rtdb.firebaseio.com</string>
</dict>
</plist>